$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;

$cWineRed: #904669;
$contentMaxWidth: 1440px;
$navHeight: 100px;

$cMenuClose: $cWhite;
$cMenuOpen: $cWhite;

$cMainBlue: #0073bc;
$cSmile-color: #0ab39d;
$cCosmos-color: #f27e97;
$cAozora-color: #0093dd;
$cBgGray: rgba(244, 244, 244, 0.9);
$FontColor: #333333;
