@use "../globals" as *;
@use "../parts/common" as *;

.logo {
  width: 200px;
  @include mq(lg) {
    width: 250px;
  }
}
body {
  font-family: "Noto Sans JP", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100000;
  &.triggered {
    //スクロールしたときのヘッダー背景を白色に
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
    transition: 0.8s;
  }
  &__inner {
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .content-width;
  }
  &__nav {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }
  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__li {
    margin-left: 30px;
    border-bottom: 4px $cMainBlue solid;
    width: 130px;
    &:hover {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0; /* 縦軸をセンタリングする */
        left: 50%;
        transform: translate(-50%, 133%) rotate(90deg); /* 縦軸をセンタリングする */
        border: 8px solid transparent;
        border-left: 14px solid $cMainBlue; /* 好みで色を変えてください */
      }
    }
  }
}

.about {
  @extend .mb-lg;
  @extend .content-width;
  &__title {
    text-align: center;
    margin-bottom: 20px;
    & h2 {
      display: inline-block;
      font-family: "Noto Serif JP", serif;
      @extend .font-lr;
      border-bottom: solid 4px $cMainBlue;
      @extend .pb-sm;

      & > span {
        font-family: "Noto Sans JP", sans-serif;

        @extend .font-sm;
        color: $cMainBlue;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
  &__content {
    @include mq(md) {
      text-align: center;
    }
    & p {
      @extend .font-sm;
      line-height: 2em;
    }
  }
}

//各施設のスタイル
.institution {
  max-width: $contentMaxWidth;
  width: 100%;
  margin: 0 auto;
  @extend .pb-lg;
  background-color: $cBgGray;
  @include mq(lg) {
    background-color: $cWhite;
  }

  &__UpContent {
    @extend .flex2;
  }
  &__UpContent-right {
    flex-basis: 50%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__UpContent-left {
    background-color: $cBgGray;
    padding: 20px 0;
    flex-basis: 50%;

    & .logo {
      margin: 0 auto;
      & > img {
        margin: 0 auto;
      }
    }
  }
  &__ex {
    @extend .content-width;
    & > img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__CenterContent {
    padding: 30px 0 30px 0;
    @extend .font-md;
    font-weight: 500;
    @include mq(md) {
      text-align: center;
      padding: 50px 0 80px 0;
    }
    & p {
      @extend .content-width;
    }
  }
  &__UnderContent {
    @extend .flex3;
    @include mq(lg) {
      justify-content: center;
    }
  }
  &__UnderContent-right {
    background-color: $cBgGray;
    padding-bottom: 20px;

    @include mq(lg) {
      background-color: $cWhite;
      display: flex;
      border: 3px solid $cSmile-color;
      padding-bottom: 0;
      flex-basis: 50%;
      justify-content: space-between;
    }
  }
  &__UnderContent-left {
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include mq(lg) {
      flex-basis: 40%;
    }
  }
}
//あおぞらの中央のテキストスタイル
.aozora {
  &-content {
    display: flex;
    justify-content: space-around;
    @include mq(lg) {
      flex-direction: column;
    }
  }
  &-oyakusoku {
    color: $cAozora-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  &-ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
    @include mq(lg) {
      width: 90%;
      margin: 0 auto;
    }
    & li {
      margin-bottom: 15px;
      text-align: left;
      & > span {
        padding: 5px 10px;
        background-color: $cAozora-color;
        border-radius: 50%;
        margin-right: 5px;
        color: $cWhite;
      }
      @include mq(lg) {
        display: inline;
        margin-right: 20px;
      }
    }
  }
}

//秋桜の施設のスタイル
.cosmos {
  & .institution {
    &__UnderContent-right {
      @include mq(lg) {
        border: 3px solid $cCosmos-color;
      }
    }
  }
}
//あおぞらの施設のスタイル
.aozora {
  & .institution {
    &__UnderContent-right {
      @include mq(lg) {
        border: 3px solid $cAozora-color;
      }
    }
  }
}

//理念の部分
.rinen {
  margin-bottom: 20px;
  &-tit {
    position: relative;
    margin-bottom: 10px;
  }
  &-line {
    position: absolute;
    border-bottom: 4px solid $cSmile-color;
    width: 100%;
    top: 50%;
    left: 0;
    &::before {
      position: absolute;
      content: "";
      top: -4px;
      border-bottom: 2px solid $cSmile-color;
      width: 100%;
    }
  }
  &-circle {
    z-index: 100;
    background: white;
    color: $cSmile-color;
    font-weight: 600;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    width: 4rem;
    height: 4rem;
    border: solid 4px $cSmile-color;
    border-radius: 50%;
    top: 0;
    left: 15%;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 3.3rem;
      height: 3.3rem;
      border: solid 2px $cSmile-color;
      border-radius: 50%;
    }
  }
  &-text {
    color: $cSmile-color;
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
    line-height: 1.8em;
  }
}
//秋桜の理念のスタイル
.cosmos {
  & .rinen-line {
    border-bottom: 4px solid $cCosmos-color;
    &::before {
      border-bottom: 2px solid $cCosmos-color;
    }
  }
  & .rinen-circle {
    border: solid 4px $cCosmos-color;
    color: $cCosmos-color;
    &::before {
      border: 2px solid $cCosmos-color;
    }
  }
  & .rinen-text {
    color: $cCosmos-color;
  }
}
//あおぞらの理念のスタイル
.aozora {
  & .rinen-line {
    border-bottom: 4px solid $cAozora-color;
    &::before {
      border-bottom: 2px solid $cAozora-color;
    }
  }
  & .rinen-circle {
    border: solid 4px $cAozora-color;
    color: $cAozora-color;
    &::before {
      border: 2px solid $cAozora-color;
    }
  }
  & .rinen-text {
    color: $cAozora-color;
  }
}
//会社概要のの理念のスタイル
.company {
  & .rinen-line {
    border-bottom: 4px solid $cMainBlue;
    &::before {
      border-bottom: 2px solid $cMainBlue;
    }
  }
}

//背景の三角部分
.triangle {
  width: 3em;
  height: 3em;
  background: $cBgGray;
  position: relative;
  border-top-left-radius: 30%;
  left: 50%;
  top: -17px;
  transform: translate(-50%, -50%) rotate(41deg) skewY(9deg) scaleX(0.86666);
  @include mq(lg) {
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(132deg) skewY(9deg) scaleX(0.86666);
  }

  &::after,
  &::before {
    width: 3em;
    height: 3em;
    background: transparent;
    content: "";
    position: absolute;
    display: none;
  }
  &::before {
    border-top-right-radius: 30%;
    transform: skewX(-45deg) translateX(50%);
    display: none;
  }
  &::after {
    border-bottom-left-radius: 30%;
    transform: skewY(-45deg) translateY(50%);
    display: none;
  }
}

//モバイル時の館内図のスライド
.slider {
  position: relative;
  @extend .mb-sm;
  @include mq(lg) {
    flex-basis: 30%;
  }
  &::before {
    content: "";
    background-image: url(../images/smile/smile-figure-tit.png);
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 5%;
  }
  &__inner {
    width: 90%;
    display: flex;
    margin: auto;
    overflow-x: auto;
    padding: 0;
    @include mq(lg) {
      margin: 0;
      width: 100%;
      margin-left: 20px;
    }
    &::-webkit-scrollbar {
      height: 12px; /* スクロールバーの高さ */
    }
    &::-webkit-scrollbar-thumb {
      background: #aaa; /* ツマミの色 */
      border-radius: 6px; /* ツマミ両端の丸み */
    }
    &::-webkit-scrollbar-track {
      background: #ddd; /* トラックの色 */
      border-radius: 6px; /* トラック両端の丸み */
    }
  }

  &__item {
    background-color: $cWhite;
    width: 100%;
    padding: 8px;
    margin: 3px;
    flex-shrink: 0;
    list-style: none;
    & img {
      width: 100%;

      object-fit: cover;
    }
  }
}
//　秋桜の館内図のスライドのスタイル
.cosmos {
  & .slider {
    &::before {
      background-image: url(../images/cosmos/cosmos-figure-tit.png);
    }
    &__inner {
      overflow-x: initial;
    }
  }
}
//　あおぞらの館内図のスライドのスタイル
.aozora {
  & .slider {
    &::before {
      background-image: url(../images/aozora/aozora-figure-tit.png);
    }
    &__inner {
      margin-top: 50px;
    }
  }
}

.institution-tables {
  @include mq(lg) {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
  }
}
.institution-table {
  table-layout: fixed;
  margin: 0 auto;
  width: 90%;
  font-size: 12px;
  margin-bottom: 30px;
  background-color: $cWhite;
  padding: 10px;
  border-radius: 5px;
  @include mq(lg) {
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    border-spacing: 0.5em;
  }

  & tbody th {
    background: rgba(10, 179, 157, 0.1);
    color: $FontColor;
    width: 100%;
    display: block;
    padding: 5px;
    @include mq(lg) {
      width: 20%;
      display: inline-block;
      font-size: 11px;
    }
  }
  & tbody td {
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px;
    @include mq(lg) {
      width: 80%;
      display: inline-block;
      padding: 0;
      text-align: left;
      padding-left: 10px;
    }
  }
}
//秋桜のテーブルスタイル
.cosmos {
  & .institution-table {
    & tbody th {
      background: rgba(242, 126, 151, 0.2);
    }
  }
}
//あおぞらのテーブルスタイル
.aozora {
  & .institution-table {
    & tbody th {
      background: rgba(0, 147, 221, 0.2);
    }
  }
}
//会社概要のテーブルスタイル
.company {
  & .institution-table {
    margin-top: 30px;
    background-color: transparent;
    & tbody th {
      background: rgba(0, 115, 188, 0.2);
    }
    @include mq(lg) {
      margin: 30px auto 0;
      width: 80%;
    }
  }
}

.access-content {
  background-color: $cMainBlue;
  border-radius: 5px;
  &__inner {
    padding: 10px 5px;
  }
  &__tit {
    border-bottom: 1px dotted $cWhite;
    @extend .font-lg;
    font-weight: bold;
    margin-bottom: 10px;

    & span {
      font-size: 14px;
    }
  }
  &__ul {
    list-style: none;
    padding: 0;

    & li {
      @extend .font-sm;
      font-weight: 600;
      position: relative;
      padding-left: 20px;
      margin-bottom: 5px;
      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        display: inline-block;
        @extend .icon-size;
        background-size: contain;
        vertical-align: middle;
        background-repeat: no-repeat;
        @include mq(lg) {
          top: 6px;
        }
      }
      &:nth-child(1) {
        &::before {
          background-image: url(../images/post-icon.png);
        }
      }
      &:nth-child(2) {
        &::before {
          background-image: url(../images/train-icon.png);
        }
      }
      &:nth-child(3) {
        &::before {
          background-image: url(../images/bus-icon.png);
        }
      }
    }
  }
}

.access {
  @extend .pb-lg;
  position: relative;
  width: 100%;

  background-image: url(../images/access-bgimg-sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include mq(md) {
    padding-top: 0;
  }
  @include mq(lg) {
    background-image: url(../images/access-bgimg.png);
  }
  &__inner {
    @extend .flex3;
    justify-content: space-around;
    @extend .content-width;

    @include mq(lg) {
      padding-top: 50px;
    }
  }

  &-bg {
    padding: 50px 0;
    background-color: transparent;
    color: $cWhite;
    @extend .content-width;
    position: relative;
    z-index: 20;
    @include mq(lg) {
      padding: 0;
    }
  }
  &::after {
    content: "";
    background: linear-gradient(
      170deg,
      rgba(0, 115, 188, 1),
      rgba(255, 255, 255, 0.9)
    );
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    @include mq(lg) {
      background: linear-gradient(
        170deg,
        rgba(0, 115, 188, 1),
        rgba(255, 255, 255, 0.1)
      );
    }
  }
  &__left,
  &__right {
    flex-basis: 50%;
  }
}

.google-map {
  position: relative;
  z-index: 20;
  text-align: center;
  @include mq(lg) {
    margin-top: 30px;
  }
  & > a {
    box-shadow: 2px 2px 2px rgba(74, 65, 65, 0.5);
    position: relative;
    background-color: $cWhite;
    color: $FontColor;
    font-weight: 500;
    padding: 3px 20px 4px 50px;
    text-decoration: none;
    border-radius: 3px;
    &::before {
      position: absolute;
      top: 0;
      left: 20px;
      content: "";
      display: inline-block;
      width: 30px;
      height: 30px;
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-image: url(../images/googlemap-icon.png);
    }
  }
}
.map {
  width: 100%;

  max-width: 500px;
  position: relative;
  z-index: 20;
  margin: 50px auto;
  @extend .content-width;
  background: linear-gradient(
    170deg,
    rgba(204, 235, 255, 0.6),
    rgba(255, 255, 255, 0.9)
  );
  box-shadow: 2px 2px 10px rgba(74, 65, 65, 0.5);
  border-radius: 5px;
  padding: 10px;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer {
  padding: 40px 0 30px 0;
  background-color: $cFooter-bg;
  &__inner {
    padding: 7px 0;
    @extend .flex3;
    align-items: center;
    justify-content: space-between;
    @extend .content-width;
    @include mq(lg) {
      margin-bottom: 30px;
    }
  }
  & .logo {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
    & > img {
      margin: 0 auto;
    }
    @include mq(lg) {
      width: 250px;
      margin-bottom: 0;
      flex-basis: 25%;

      margin: 0;
    }
  }
  &__nav {
    @extend .mb-lg;
    width: 100%;
    @include mq(lg) {
      margin-bottom: 0 !important;
      width: auto;
    }
  }
  &__ul {
    padding: 0;
    @extend .flex3;
    flex-wrap: nowrap;
    @include mq(lg) {
      align-items: center;
      justify-content: flex-end;
    }
  }
  &__li {
    list-style: none;
    display: block;
    margin: 0 10px 30px;
    @include mq(lg) {
      margin-left: 30px;
      border-bottom: 4px #0073bc solid;
      width: 130px;
      margin: 0 0 0 30px;
      &:hover {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0; /* 縦軸をセンタリングする */
          left: 50%;
          transform: translate(-50%, 133%) rotate(90deg); /* 縦軸をセンタリングする */
          border: 8px solid transparent;
          border-left: 14px solid $cMainBlue; /* 好みで色を変えてください */
        }
      }
    }
    & a {
      display: block;
      position: relative;
      text-decoration: none !important;
      border-bottom: 1px dotted $cMainBlue;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        border: 8px solid transparent;
        border-left: 14px solid $cMainBlue; /* 好みで色を変えてください */
        @include mq(lg) {
          display: none;
        }
      }
    }
  }
  &__copy {
    @extend .content-width;
    @extend .font-sm;
    text-align: center;
    @include mq(lg) {
      text-align: right;
      & > p {
        display: inline;
      }
    }
  }
}
