@use "../globals" as *;
@use "../parts/common" as *;

.logo {
  width: 200px;
  @include mq(lg) {
    width: 250px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: transparent;
  display: flex;
  align-items: center;
  z-index: 10000;
  &.triggered {
    //スクロールしたときのヘッダー背景を白色に
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
    transition: 0.8s;
  }
  &__inner {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend .content-width;
  }
  &__nav {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }
  &__ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  &__li {
    margin-left: 30px;
    border-bottom: 4px $cMainBlue solid;
    width: 130px;
    &:hover {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0; /* 縦軸をセンタリングする */
        left: 50%;
        transform: translate(-50%, 133%) rotate(90deg); /* 縦軸をセンタリングする */
        border: 8px solid transparent;
        border-left: 14px solid $cMainBlue; /* 好みで色を変えてください */
      }
    }
  }
}

.about {
  @extend .mb-lg;
  @extend .content-width;
  &__title {
    text-align: center;
    margin-bottom: 20px;
    & h2 {
      @extend .font-lr;
      border-bottom: solid 4px $cMainBlue;
      @extend .pb-sm;

      & > span {
        @extend .font-sm;
        color: $cMainBlue;
        display: block;
        margin-bottom: 5px;
      }
    }
  }
  &__content {
    @include mq(md) {
      text-align: center;
    }
    & p {
      @extend .font-sm;
      line-height: 2em;
    }
  }
}

//各施設のスタイル
.institution {
  @extend .mb-lg;
  &__UpContent {
    @extend .flex2;
  }
  &__UpContent-right {
    flex-basis: 50%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__UpContent-left {
    background-color: $cBgGray;
    padding: 20px 0;
    flex-basis: 50%;

    & .logo {
      margin: 0 auto;
      & > img {
        margin: 0 auto;
      }
    }
  }
  &__ex {
    @extend .content-width;
    & > img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__CenterContent {
    padding: 30px 0 30px 0;
    @extend .font-md;
    font-weight: 500;
    @include mq(md) {
      text-align: center;
      padding: 50px 0 80px 0;
    }
    & p {
      @extend .content-width;
    }
  }
  &__UnderContent {
    @extend .flex3;
    @include mq(lg) {
      justify-content: center;
    }
  }
  &__UnderContent-right {
    background-color: $cBgGray;
    padding-bottom: 20px;

    @include mq(lg) {
      background-color: $cWhite;
      display: flex;
      border: 3px solid $cSmile-color;
      padding-bottom: 0;
      flex-basis: 50%;
      justify-content: space-between;
    }
  }
  &__UnderContent-left {
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include mq(lg) {
      flex-basis: 40%;
    }
  }
}
//理念の部分
.rinen {
  margin-bottom: 20px;
  &-tit {
    position: relative;
    margin-bottom: 10px;
  }
  &-line {
    position: absolute;
    border-bottom: 4px solid $cSmile-color;
    width: 100%;
    top: 50%;
    left: 0;
    &::before {
      position: absolute;
      content: "";
      top: -4px;
      border-bottom: 2px solid $cSmile-color;
      width: 100%;
    }
  }
  &-circle {
    z-index: 100;
    background: white;
    color: $cSmile-color;
    font-weight: 600;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    width: 4rem;
    height: 4rem;
    border: solid 4px $cSmile-color;
    border-radius: 50%;
    top: 0;
    left: 15%;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      width: 3.3rem;
      height: 3.3rem;
      border: solid 2px $cSmile-color;
      border-radius: 50%;
    }
  }
  &-text {
    color: $cSmile-color;
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
    line-height: 1.8em;
  }
}
//背景の三角部分
.triangle {
  width: 3em;
  height: 3em;
  background: $cBgGray;
  position: relative;
  border-top-left-radius: 30%;
  left: 50%;
  top: -17px;
  transform: translate(-50%, -50%) rotate(41deg) skewY(9deg) scaleX(0.86666);
  @include mq(lg) {
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(132deg) skewY(9deg) scaleX(0.86666);
  }

  &::after,
  &::before {
    width: 3em;
    height: 3em;
    background: transparent;
    content: "";
    position: absolute;
    display: none;
  }
  &::before {
    border-top-right-radius: 30%;
    transform: skewX(-45deg) translateX(50%);
    display: none;
  }
  &::after {
    border-bottom-left-radius: 30%;
    transform: skewY(-45deg) translateY(50%);
    display: none;
  }
}

//モバイル時の館内図のスライド
.slider {
  position: relative;
  @extend .mb-sm;
  @include mq(lg) {
    flex-basis: 30%;
  }
  &::before {
    content: "";
    background-image: url(../images/smile/smile-figure-tit.png);
    display: inline-block;
    background-size: cover;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 5%;
  }
  &__inner {
    width: 90%;
    display: flex;
    margin: auto;
    overflow-x: auto;
    padding: 0;
    @include mq(lg) {
      margin: 0;
      width: 100%;
      margin-left: 20px;
    }
    &::-webkit-scrollbar {
      height: 12px; /* スクロールバーの高さ */
    }
    &::-webkit-scrollbar-thumb {
      background: #aaa; /* ツマミの色 */
      border-radius: 6px; /* ツマミ両端の丸み */
    }
    &::-webkit-scrollbar-track {
      background: #ddd; /* トラックの色 */
      border-radius: 6px; /* トラック両端の丸み */
    }
  }

  &__item {
    background-color: $cWhite;
    width: 100%;
    padding: 8px;
    margin: 3px;
    flex-shrink: 0;
    list-style: none;
    & img {
      width: 100%;

      object-fit: cover;
    }
  }
}

.institution-tables {
  @include mq(lg) {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    justify-content: center;
  }
}
.institution-table {
  table-layout: fixed;
  margin: 0 auto;
  width: 90%;
  font-size: 12px;
  margin-bottom: 30px;
  background-color: $cWhite;
  padding: 10px;
  border-radius: 5px;
  @include mq(lg) {
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    border-spacing: 0.5em;
  }

  & tbody th {
    background: #0ab39d26;
    color: $FontColor;
    width: 100%;
    display: block;
    padding: 5px;
    @include mq(lg) {
      width: 20%;
      display: inline-block;
      font-size: 11px;
    }
  }
  & tbody td {
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px;
    @include mq(lg) {
      width: 80%;
      display: inline-block;
      padding: 0;
      text-align: left;
      padding-left: 10px;
    }
  }
}
